.square {
  
border: 2px solid black;
height: 100px;
width: 100px;
text-align: center;
font-size: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  margin: 0 auto;
  max-width: 300px;
}

h1 {
  text-align: center;
}
